.headerContainer{
  height: 5rem;
  
  display: flex;
  align-items: center;
}

.headerContent{
  width: 45.5rem;
  margin: 0 auto;
  padding: 0 2rem;

  img{
    transition: filter 0.3s;

    &:hover{
      filter: brightness(0.8)
    }
  }
}
